.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    border: 5px solid black;
}

.box {
    width: 150px;
    height: 150px;
    background: coral;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
